h1{
	background_color:white;
	color:green;
   }
li{
	backgroung-color:gray;
   }
th{
	background-color:green;
	color:#562B05
   } 
span{
	font-weight:bold;
	background-color:yellow;
	color:black;
	}
body{
	background-color:#fffec4;